<nav class="w-full pt-12 ml-10">
  <h1 class="text-2xl text-gray-900 font-semibold">
    Compliants and suggestions
  </h1>
  <div class="mt-8">
    <div class="relative">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 absolute left-4 top-2 text-gray-600" fill="none"
           viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
      </svg>
      <input [(ngModel)]="search" (keyup)="searchChange()" type="text" class="pl-16 h-12 w-96 h-10 rounded-2xl outline-none shadow-2xl">
    </div>
  </div>
</nav>
<div class="grid grid-cols-1 xl:grid-cols-3 gap-x-10 mx-10">
  <div *ngFor="let complaint of complaints" class="rounded-3xl shadow-2xl mt-8 px-6 pt-10 pb-4"
       style=" background: url(assets/img/card.png) center no-repeat; background-size: cover;">
    <h3 class="text-xl text-gray-900 font-medium ">
      <span [innerHTML]="complaint.title"></span>
    </h3>
    <h3 class="text-xl text-gray-600 font-medium mt-2">
      Description:
    </h3>
    <p class="text-lg text-gray-900 font-semibold">
      <span [innerHTML]="complaint.description"></span>
    </p>
    <h3 class="text-xl text-gray-600 font-medium mt-2">
      Location:
    </h3>
    <p class="text-lg text-gray-900 font-semibold">
      <span [innerHTML]="complaint.location"></span>
    </p>
    <div class="flex mt-2">
      <h3 class="text-xl text-gray-600 font-medium">
        Votes:
      </h3>
      <p class="text-xl text-gray-900 font-semibold ml-4">
        {{complaint.voteCount}}
      </p>
    </div>
    <div class="flex mt-2">
      <h3 class="text-xl text-gray-600 font-medium">
        Status:
      </h3>
      <p class="text-xl text-gray-900 font-semibold ml-4">
        {{complaint.status}}
      </p>
    </div>
    <div *ngIf="complaintService.votes[complaint.id]; else elseBlock" class="flex justify-center">
      <button (click)="complaintService.handleRemoveVoteForComplaint(complaint.id)"
              class="inline-block bg-purple-900 hover:bg-purple-800 text-lg text-white text-center font-bold rounded-full px-4 py-2 mt-6">
        Remove Vote
      </button>
    </div>
    <ng-template #elseBlock>
      <div class="flex justify-center">
        <button (click)="complaintService.handleVoteForComplaint(complaint.id)"
                class="inline-block bg-purple-500 hover:bg-purple-400 text-lg text-white text-center font-bold rounded-full px-4 py-2 mt-6">
          Vote
        </button>
      </div>
    </ng-template>
  </div>
</div>
